<header>
	<div class="container">
		<div class="divTransparente white">
			<div id="logo">
				<img src="Assets/Images/LogoAPELesEcoliersDeFontbonneCouleurs.jpg" id="logo" alt="logoApe"></div>
			<h1>APE : Les Ecoliers de Fontbonne</h1>
		</div>

		{% for association in associations %}
			<nav class="nav container justify-content-right ">
				<a class="nav-link active " aria-current="page" href="{{path ('app_home')}}">Accueil</a>
				<a class="nav-link" href="{{path ('app_member')}}">Membres</a>
				<a class="nav-link" href="{{path ('app_event')}}">Evenements</a>
				<a class="nav-link" href="{{path ('app_membership')}}">Adhésion</a>
				<a class="nav-link" href="mailto:{{association.email}}">Contactez-Nous</a>
				{# Si l'utilisateur n'a pas le rôle ROLE_USER, affiche l'icône fa-user #}
				{% if not is_granted('ROLE_USER') %}
					<a class="footer-link fa-solid fa-user col-md-3" href="{{path ('app_login')}}"></a>
				{% endif %}
				{# Si l'utilisateur a le rôle ROLE_ADMIN, affiche l'icône fa-screwdriver-wrench #}
				{% if is_granted('ROLE_ADMIN')%}
					<a class="footer-link fa-solid fa-screwdriver-wrench" href="{{path ('app_logout')}}"></a>
				{% endif %}

				{# Si l'utilisateur a le rôle ROLE_USER, affiche l'icône fa-user-xmark #}
				{% if is_granted('ROLE_USER') %}
					<a class="footer-link fa-solid fa-user-xmark" href="{{path ('admin')}}"></a>
				{% endif %}
			</nav>
		{% endfor %}
	</div>
</header>
