<aside class="col-12 col-md-3 ">
	<div class="mx-3 my-5 verbatim">
		<h2>On parle de nous
		</h2>
		{% for verbatim in verbatims %}

			<div class="card  my-3">
				<div class="card-body">
					<p>"{{verbatim.description | raw}}"</p>
					{% if verbatim.name is not null %}
						<p>{{verbatim.name}}</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="mx-3 my-3 pub">
		<h2>Nos partenaires
		</h2>
		{% for pub in pubs %}
			<div class="card  my-3 mt-2">
				{% if pub.image is not null %}
					{% for image in pub.image %}
						<img src="{{ vich_uploader_asset(image, 'imageFile' )}}" class="card-img-top" id="MemberImage" alt="{{pub.name}}">
					{% endfor %}
				{% endif %}
				<div class="card-body">
					<p class="card-text">{{pub.name}}.</p>
				</div>
			</div>
		{% endfor %}
	</div>
</aside>
