{% extends 'base.html.twig' %}

{% block title %}APE - Adhésion
{% endblock %}

{% block body %}


	<div class="container flex ">

		<main class="mb-3 mt-5 MemberShip">
			<h1>Adhésion</h1>

			{{ form_start(userForm) }}
			<div class="row g-3">
				<div class="col mb-4 ">
					{{ form_row(userForm.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col mb-4">
					{{ form_row(userForm.surname,  {'attr': {'class': 'form-control'}}) }}
				</div>

			</div>
			{{ form_row(userForm.email,  {'attr': {'class': 'form-control mb-4'}}) }}

			{{ form_row(userForm.roles, {'attr': {'class': 'mb-4'}}) }}
			<p>Enregistrer vos enfants
			</p>
			<div id="children" data-prototype="{{ form_widget(userForm.children.vars.prototype)|e('html_attr') }}">
				{% for childForm in userForm.children %}
					{{ form_row(childForm, {'attr': {'class': 'form-control'}}) }}
				{% endfor %}
			</div>
			<button class="btn btn-primary" type="button" onclick="addChildForm()">Ajouter un enfant</button>
			{{ form_row(userForm.rgpd) }}
			<button class="btn btn-primary" type="submit">S'inscrire</button>
			{{ form_end(userForm) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{#<script src="{{ asset('./Assets/JS/ChlidAddition.js') }}" defer></script>#}
	<script>
		function addChildForm() {
var container = document.getElementById('children');
var index = container.children.length;

var prototype = container.getAttribute('data-prototype');
var newForm = prototype.replace(/__name__/g, index);

container.insertAdjacentHTML('beforeend', newForm);
}
	</script>
{% endblock %}
